html,
body
  {
  height: 100% !important;
}
a{
  outline: none;
}
li {
  list-style: none;
}
#_nabvar {
  height: 70px;
}
._container {
  padding: 0;
}

._logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
}

._title {
  margin-left: 10px;
  color: #2b2b2b;
  font-size: 20px;
}
._nav_link {
  display: inline-block;
  width: 90px;
  line-height: 69px;
  border: 1px solid transparent;
  color: #666;
  text-align: center;
  transition: all .3s;
}
._nav_link:hover {
  text-decoration: none;
  color: #f1f1f1;
  transition: all .3s;
}
._margin {
  margin-left: 7px;
}

._navbar_container>.blog>a {
  color: #f60;
  border-bottom-color: #f60;
}

._navbar_container>.source>a {
  color: #d243ff;
  border-bottom-color: #d243ff;
}

._navbar_container>.tool>a {
  color: #c4c021;
  border-bottom-color: #c4c021;
}
._navbar_container>.message>a {
  color: #01b7ee;
  border-bottom-color: #01b7ee;
}
._navbar_container>.about>a {
  color: #33ce6b;
  border-bottom-color: #33ce6b;
}


.my_load {
  height: 20px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.my_load>div>div{
  display: inline-block;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: green;
}
@keyframes firstLoad {
  0% {
    transform: scale(1)
  }
  70% {
    transform: scale(.1)
  }
  100% {
    transform: scale(1)
  }
}
.my_load .first {
  animation: firstLoad 1.2s infinite linear .2s;
}
.my_load .second {
  margin-left: 5px;
  animation: firstLoad 1.2s infinite linear .4s;
}
.my_load .third {
  margin-left: 5px;
  animation: firstLoad 1.2s infinite linear .6s;
}
