extends ../common/layout.jade
block content
  link(href='/stylesheets/selectlist.css', rel='stylesheet')
    .container-fluid.render-body
      .row
        .col-md-2.category-block.hidden-sm.hidden-xs
          .category-top
            Node.js模板引擎的开发
          .category-split
          .category-list