extends ../common/layout.jade
block content
  link(rel="stylesheet", href="/public/stylesheets/source.css")
  .flex-grow-1.source_container
    .row._source_row.d-flex.justify-content-around(style="margin-top: 30px;")
      ._source_row._source_col
        ._item_container
          section._link_top
            a._link(href="#")
              img(src="/public/images/blog-first.png", alt="blog-first")
          section._info
            h3._source_row
              | xiaoyu
            p._source_row
              | 基于 Node.js 的个人开源博客系统。
          section._github.d-flex.justify-content-end
            a._btn_github(href='https://github.com/xiaoyu311/xxiaoyu.com')
              i.fab.fa-github
              span 
                |  Github
      ._source_row._source_col
        ._item_container
          section._link_top
            a._link(href="#")
              img(src="/public/images/blog-first.png", alt="blog-first")
          section._info
            h3._source_row
              | 后台管理
            p._source_row
              | 开源博客系统数据管理系统。
          section._github.d-flex.justify-content-end
            a._btn_github(href='https://github.com/xiaoyu311/xiaoyu-manage')
              i.fab.fa-github
              span 
                |  Github
      ._source_row._source_col
        ._item_container
          section._link_top
            a._link(href="#")
              img(src="/public/images/cnode.png", alt="blog-first")
          section._info
            h3._source_row
              | cnode
            p._source_row
              | cnode社区移动端实现
          section._github.d-flex.justify-content-end
            a._btn_github(href='https://github.com/xiaoyu311/cnode')
              i.fab.fa-github
              span 
                |  Github