extends ../common/layout.jade
block content
  link(rel="stylesheet", href="/stylesheets/source.css")
  .flex-grow-1.source_container
    .row._source_row.d-flex.justify-content-around(style="margin-top: 30px;")
      ._source_row._source_col
        ._item_container
          section._link_top
            a._link(href="#")
          section._info
            h3._source_row
              | iBlog2
            p._source_row
              | 基于 Node.js 的个人开源博客系统。
          section._github.d-flex.justify-content-end
            button._btn_github.btn.btn-success(type="button")
              i.fab.fa-github
              span 
                |  Github
      ._source_row._source_col
        ._item_container
          section._link_top
            a._link(href="#")
          section._info
          section._github
      ._source_row._source_col
        ._item_container
          section._link_top
            a._link(href="#")
          section._info
          section._github